    body{  
    font-family: Calibri, Helvetica, sans-serif;  
    /*background-color: rgb(0, 0, 0);  */
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }

  input[type=text]:focus, input[type=password]:focus {  
    background-color: rgb(198, 198, 198);  
    outline: none;  
  }

  .logreg {
    text-align: center;
    width: 960px;
    margin: 0 auto;
  }

  .buttonslogreg {
    text-align: center;
    width: 10%;
    margin: 0 auto;
    display: inline;
  }

  .log {
    text-align: center;
    width: 960px;
    margin: 0 auto;
  }

  .buttonslog {
    text-align: center;
    width: 10%;
    margin: 0 auto;

  }

  .container {  
    background-color: rgb(255, 255, 255);
    padding: 50px;    
  }

   div {  
    padding: 10px 0;  
  }
    
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }

  .regbtn {    
    padding: 16px 20px;  
    margin-left: 75%;  
    border: none;  
    cursor: pointer;  
    width: 50%;  
    opacity: 0.9; 
    background-color: #4CAF50;  
    color: white; 
  } 
   
  .registerbtn:hover {  
    opacity: 1;  
  }

  .marg{
    margin-right: 50%;
  }

  .pad{
    padding: 1%;
  }
